<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="jp.ac.jec.cm0120.pittan">

  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

  <uses-feature
      android:glEsVersion="0x00030000"
      android:required="true" />

  <uses-feature android:name="android.hardware.camera.ar" />

  <application
      android:allowBackup="true"
      android:name=".app.LightApplication"
      android:icon="@mipmap/ic_pittan_launcher"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_pittan_launcher_round"
      android:supportsRtl="true"
      tools:ignore="LockedOrientationActivity">

    <meta-data
        android:name="com.google.ar.core"
        android:value="required" />

    <activity
        android:name="com.google.android.gms.oss.licenses.OssLicensesMenuActivity"
        android:theme="@style/Theme.Pittan.Base"
        android:screenOrientation="portrait"/>
    <activity
        android:name="com.google.android.gms.oss.licenses.OssLicensesActivity"
        android:theme="@style/Theme.Pittan.Base"
        android:screenOrientation="portrait"/>

    <activity
        android:name=".ui.objectInstallation.ObjectInstallationActivity"
        android:exported="true"
        android:theme="@style/Theme.Pittan"
        android:screenOrientation="portrait"/>
    <activity
        android:name=".ui.add_data.AddDataActivity"
        android:exported="true"
        android:theme="@style/Theme.Pittan"
        android:screenOrientation="portrait"/>
    <activity
        android:name=".ui.detail.DetailActivity"
        android:exported="true"
        android:theme="@style/Theme.Pittan"
        android:screenOrientation="portrait"/>
    <activity
        android:name=".ui.setting.SettingActivity"
        android:exported="true"
        android:theme="@style/Theme.Pittan"
        android:screenOrientation="portrait"/>
    <activity
        android:name=".ui.home.HomeActivity"
        android:exported="true"
        android:theme="@style/Theme.Pittan"
        android:screenOrientation="portrait">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>

</manifest>